@model Domain.Entities.Interview

@{
    ViewData["Title"] = $"Interview #{Model.InterviewId}";
}

<h3>Interview Details</h3>
<table class="table table-borderless">
    <tr><th>HBIT No</th><td>@Model.HbitsNo</td></tr>
    <tr><th>Position</th><td>@Model.Position</td></tr>
    <tr><th>Level</th><td>@Model.Level</td></tr>
    <tr><th>Mail Received</th><td>@Model.MailReceivedDateUtc?.ToShortDateString()</td></tr>
    <tr><th>Consultant Name</th><td>@Model.ConsultantName</td></tr>
    <tr><th>Client Suggested Dates</th><td>@Model.ClientSuggestedDates</td></tr>
    <tr><th>Mailed Dates To Consultant</th><td>@Model.MailedDatesToConsultantUtc?.ToShortDateString()</td></tr>
    <tr><th>Interview Time Opted For</th><td>@Model.InterviewTimeOptedFor</td></tr>
    <tr><th>Interview Scheduled Mailed To MR</th><td>@(Model.InterviewScheduledMailedToMr == true ? "Yes" : "No")</td></tr>
    <tr><th>Interview Confirmed By Client</th><td>@Model.InterviewConfirmedByClientUtc?.ToShortDateString()</td></tr>
    <tr><th>Time of Interview</th><td>@Model.TimeOfInterviewUtc?.ToString("g")</td></tr>
    <tr><th>Thru Recruiter</th><td>@Model.ThruRecruiter</td></tr>
    <tr><th>Consultant Contact No</th><td>@Model.ConsultantContactNo</td></tr>
    <tr><th>Consultant Email</th><td>@Model.ConsultantEmail</td></tr>
    <tr><th>Vendor POC Name</th><td>@Model.VendorPocName</td></tr>
    <tr><th>Vendor Number</th><td>@Model.VendorNumber</td></tr>
    <tr><th>Vendor Email Id</th><td>@Model.VendorEmailId</td></tr>
    <tr><th>Candidate Selected</th><td>@Model.CandidateSelected</td></tr>
    <tr><th>MonthYear</th><td>@Model.MonthYear</td></tr>
</table>
<a asp-action="Edit" asp-route-id="@Model.InterviewId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
