@model Domain.Entities.TodoTask
@{
    ViewData["Title"] = $"Task #{Model.TaskId} Details";
}
<h2>Task #@Model.TaskId Details</h2>

<table class="table table-sm border-0 w-50">
    <tr><th class="fw-normal">Category:</th>         <td>@Model.Category</td></tr>
    <tr><th class="fw-normal">Task Name:</th>        <td>@Model.TaskName</td></tr>
    <tr><th class="fw-normal">Trigger Date:</th>     <td>@Model.TriggerDateUtc?.ToString("d")</td></tr>
    <tr><th class="fw-normal">Next Due Date:</th>    <td>@Model.NextDueDateUtc?.ToString("d")</td></tr>
    <tr><th class="fw-normal">Assigned To:</th>      <td>@Model.AssignedTo</td></tr>
    <tr><th class="fw-normal">Status:</th>           <td>@Model.Status</td></tr>
    <tr><th class="fw-normal">Requires Filing:</th>  <td>@(Model.RequiresFiling == true ? "Yes" : "No")</td></tr>
    <tr><th class="fw-normal">Filed:</th>            <td>@(Model.Filed == true ? "Yes" : "No")</td></tr>
    <tr><th class="fw-normal">Follow Up Needed:</th> <td>@(Model.FollowUpNeeded == true ? "Yes" : "No")</td></tr>
    <tr><th class="fw-normal">Recurring:</th>        <td>@(Model.Recurring == true ? "Yes" : "No")</td></tr>
    <tr><th class="fw-normal">Internal Due Date:</th><td>@Model.InternalDueDateUtc?.ToString("g")</td></tr>
    <tr><th class="fw-normal">Actual Due Date:</th>  <td>@Model.ActualDueDateUtc?.ToString("g")</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Back</a>
<a asp-action="Edit" asp-route-id="@Model.TaskId" class="btn btn-primary ms-2">Edit</a>
